<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">{{accountModalPageTitle}}</h1>
    </ion-header-bar>    
    <ion-content class="plain">
      <div class="list list-inset plain" ng-show="(accountModalPageMode==0)">
          <label class="item item-input">
              <input type="text" placeholder="Email" ng-model="user.email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="user.password">
          </label>          
      	  <button class="button button-block button-calm" ng-click="doLogin()">Login</button>
      	  <div class="centered"><button class="button button-clear button-positive" ng-click="toggleLoginSignup()">Don't have an account yet? Signup for free!</button></div>      
      </div>
      
      <div class="list list-inset" ng-show="(accountModalPageMode==1)">
          <label class="item item-input">
              <input type="text" placeholder="Name" ng-model="user.name">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Email" ng-model="user.email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="user.password">
          </label>          
      	  <button class="button button-block button-calm" ng-click="doSignup()">Signup</button>
      	  <div class="centered"><button class="button button-clear button-positive" ng-click="toggleLoginSignup()">Already have an account? Login here!</button></div>      
      </div>
      
      <button class="button button-block button-stable" ng-click="aulettaHideLoginModal()">Cancel</button>
	</ion-content>
</ion-modal-view>