<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header paper">
      <ion-list>
      	<ion-item nav-clear menu-close href="#/tab/home">
          <i class='ion-home'></i> Home
        </ion-item>
        <ion-item nav-clear menu-close href="#/tab/decks">
          <i class='ion-ios7-filing-outline'></i> My Decks
        </ion-item>
        <ion-item nav-clear menu-close href="#/tab/addDeck" ng-show="!$parent.childModeEnabled">
          <i class='ion-compose'></i> Add Deck
        </ion-item>
        <ion-item nav-clear menu-close href="#/tab/settings">
          <i class='ion-ios7-gear'></i> Settings
        </ion-item>
        <ion-item nav-clear menu-close href="#/tab/settings">
          <i class='ion-help-circled'></i> Help
        </ion-item>
        <ion-item nav-clear menu-close href="#/tab/settings">
          <i class='ion-information-circled'></i> About
        </ion-item>        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>