<ion-modal-view class="paper">
    <ion-header-bar ng-show="playingDeckReady" class="player-title">
      <h1 class="title player-title" ng-click="activatePlayerClose()" ng-show="!canClosePlayer">{{playingDeck.deckTitle}}</h1>
      <h1 class="title player-title" on-hold="hidePlayerModal()" ng-show="canClosePlayer">Click and hold here to close...</h1>
    </ion-header-bar>    
    
    <ion-slide-box show-pager="false" auto-play="false" does-continue="true" ng-show="playingDeckReady" on-slide-changed="playerSlideChanged($index)">
  		<ion-slide ng-repeat="currentPlayingCard in playingDeck.deckCards">
    		<div class="card-player-image">
	      		<img class="padding card-player" ng-src="{{currentPlayingCard.cardImage}}" />
	      	</div>		  	
		  	<h2 class="card-preview">{{currentPlayingCard.cardText}}</h2>
		  	<button class="button button-accent icon ion-volume-high" ng-click="playAudio(currentPlayingCard.cardAudio)"></button>      		
  		</ion-slide>
	</ion-slide-box>
	
</ion-modal-view>

 