<ion-view view-title="" class="view-decks">
  <ion-nav-buttons side="left">
  	<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content class="padding striped home-content">  	
	<!-- <img src="img/mll-logo.png" class="home-top" /> -->
	<div class="home-buttons">
		<div class="home-button" ng-click="homeNavigate('tab.decks')">
			<img class="home-button" src="img/home-button-my-decks.png" />			
		</div>
		
		<div class="home-button" ng-click="homeNavigate('tab.addDeck')">
			<img class="home-button" src="img/home-button-add-deck.png" />
		</div>	
	</div>
	<div class="home-buttons-secondary">
		<table style="width: 100%; border: 0;">
			<tr>
				<td><img ng-click="homeNavigate('tab.addDeck')" ng-src="img/home-button-help.png" /></td>
				<td class="pull-right"><img ng-click="homeNavigate('tab.settings')" ng-src="img/home-button-settings.png" /></td>
			</tr>
		</table>
	</div>	   
  </ion-content>
  <!-- 
  <div class="home-footer">
  	<img src="img/grass-birds.png" class="home-bottom" />
  </div>
  -->   
</ion-view>