<ion-view view-title="About">
  <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  
  <ion-content class="plain">
    <div class="add-card-count-container padding-10">
  	  		<h1>Progress</h1>
  	  		<p>{{downloadProgress}}</p>
  	  		<br/><br/><br/>  	  		  	  		
  	  	</div>	
    <div class="how-to-add-buttons">    
		    <button class="button mat-shadow button-balanced button-block" ng-click="downloadFile()">
		  				<i class="icon ion-upload"></i> Download Test  			
		  	</button>		  	    
	</div>
	
	<img ng-src="{{imgUrl}}" />
	
		
  </ion-content> 
</ion-view>
