<ion-view view-title="Settings">
  <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content class="plain">
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" ng-click="toggleChildMode()" ng-show="!childModeEnabled">
      	Turn On Child Mode
      </ion-item>
      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" ng-click="toggleChildMode()" ng-show="childModeEnabled">
      	Turn Off Child Mode
      </ion-item>
      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" ng-click="aulettaShowLoginModal()" ng-show="!isLoggedIn && !childModeEnabled">
      Login / Signup
      </ion-item>
      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" ng-click="broadcastLogout()" ng-show="isLoggedIn && !childModeEnabled">
      Logout
      </ion-item>      
      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" ng-show="!childModeEnabled">
      Backup Decks
      </ion-item>      
    </ion-list>
  </ion-content>  
</ion-view>
