<ion-view title="{{viewTitle}}">
  <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
  	<button class="button icon ion-close" ng-click="cancelAddDeck()"></button>  	  	
  </ion-nav-buttons>
  <ion-content ng-show="(contentStep==1)" class="padding plain">
  	<div class="list add-deck">
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Deck Title</span>
	    <input type="text" ng-model="currentDeck.deckTitle">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Description</span>
	    <textarea rows="10" ng-model="currentDeck.deckDescription"></textarea>
	  </label>	  
	</div>
  	<button class="button icon-right ion-chevron-right button-block button-calm" ng-click="gotoStep(4)">Next</button>
  </ion-content>
  
  <ion-content ng-show="(contentStep==2)" class="plain">    
    <div class="card-add-controls button-bar" ng-show="0==1">
    	<button class="button icon ion-camera add-card-control" ng-click="captureImage()"></button>
    	<button class="button icon ion-compose add-card-control" ng-click="captureText()"></button>    
    	<button class="button icon ion-grid add-card-control" ng-click="togglePreview()"></button>
    	<button class="button icon ion-refresh add-card-control" ng-click="resetToBlankCard()"></button>    	    	
    </div>
    
    <div class="card-preview-small">
    	<img class="padding card-preview-add" ng-src="{{currentCard.cardImage}}" ng-click="captureImage()" />
		<h4 ng-show="!enteringCardText" class="card-preview" ng-click="captureText()">{{currentCard.cardText}}</h4>   
		<button class="button icon ion-mic-a add-card-control button-block" ng-click="recordAudio()"></button>
    </div>
    
    <ion-toggle class="gallery-toggle" ng-model="saveToGallery" ng-change="toggleSaveToGallery()" toggle-class="toggle-calm">Add to My Cards?</ion-toggle>
    
    <div class="button-bar">
	  	<button class="button button-balanced" ng-click="saveCard()">
	  		<i class="icon ion-checkmark"></i> Save Card  			
	  	</button>
	  	<button class="button button-light" ng-click="cancelBuildCard()">
	  		<i class="icon ion-close"></i> Cancel 			
	  	</button>
  	</div>
       
  </ion-content>
  
  <ion-content ng-show="(contentStep==4)" class="plain">    
    
    <div class="add-card-count" ng-show="currentDeck.deckCards.length>0">Nice Job!! <br/><br/> You've got {{currentDeck.deckCards.length}} cards in your deck.</div>
    <div class="add-card-count" ng-show="currentDeck.deckCards.length==0">No cards yet!  <br/> <br/> Start by adding some below :-)</div>
        
    <div class="how-to-add-buttons">    
	    <button class="button button-balanced button-block" ng-click="gotoStep(2)">
	  				<i class="icon ion-star"></i> Build a Card  			
	  	</button>
	  	<button class="button button-balanced button-block" ng-click="gotoStep(5)">
	  				<i class="icon ion-grid"></i> Choose from Gallery  			
	  	</button>    
    </div>
    <div class="button-bar">
  		<a class="button icon-left ion-chevron-left button-calm" ng-click="gotoStep(1)">Back</a>  			
  		<a class="button icon-right ion-chevron-right button-calm" ng-click="gotoStep(3)">Next</a>  		
	</div>   
  </ion-content>
  
  <ion-content ng-show="(contentStep==5)" class="plain">    
    <label class="item item-input">
  		<i class="icon ion-search placeholder-icon"></i>
  		<input ng-model="galleryCardFilter" type="search" placeholder="Search for..." class="deck-search">
	</label>	
    <ion-scroll class="card-gallery-scroll" zooming="false" direction="y">
  		<div ng-repeat="card in savedCards | filter:galleryCardFilter track by $index" class="card-preview-small card-preview-gallery">
	    	<input class="card-gallery-select" ng-model="selectedCards" type="checkbox" ng-change="cardSelectionToggle(card.cardId)" />
	    	<img class="padding card-preview" ng-src="{{card.cardImage}}" />
			<h4 class="card-preview">{{card.cardText}}</h2>				
	    </div>
 	</ion-scroll>
    
    <div class="button-bar">
	  	<button class="button button-balanced" ng-click="addCardsFromGallery()">
	  		<i class="icon ion-checkmark"></i> Add  			
	  	</button>
	  	<button class="button button-light" ng-click="cancelBuildCard()">
	  		<i class="icon ion-close"></i> Cancel 			
	  	</button>
  	</div>       
  </ion-content>
  
  
  
  <ion-content ng-show="(contentStep==3)" class="padding plain" scroll="false">
  	<ion-scroll class="review-save-scroll" zooming="false" direction="y">
  		<div class="card deck-preview-card" >
  			<div class="item item-divider deck-list-item-header">
				<div class="deck-title-header"><h2>{{currentDeck.deckTitle}}</h2></div>		    	
			</div>
			<a class="item item-thumbnail-left item-text-wrap" ng-click="showPlayerModal(deck.deckId)">
				<img ng-src="{{currentDeck.deckThumb}}">    				
	    		<p>{{currentDeck.deckDescription}}</p>
	    	</a>
	    	<div class="item item-divider deck-list-item-footer">    		
	    		<div class="deck-card-footer">
	    			Cards: {{currentDeck.deckCards.length}}
	    		</div>
	    		<div class="deck-card-footer-actions">
	    			<button class="button button-small button-clear icon ion-edit" ng-click=""></button>
	    			<button class="button button-small button-clear icon ion-trash-a" ></button>
	    		</div>
	  		</div>
		</div>
  		<div ng-repeat="card in currentDeck.deckCards" class="card-preview-small card-preview-gallery">
	    	<div class="card-review-container">
	    	<div class="card-review-action" ng-show="cardOptionsReveal == card.cardId">
	    		<button class="button button-block button-assertive" ng-click="editCard(card.cardId)">Edit Card</button>
	    		<br/>
	    		<button class="button button-block button-assertive" ng-click="deleteCard(card.cardId)">Delete Card</button>
	    	</div>
	    	<img class="padding card-preview" ng-src="{{card.cardImage}}" ng-click="cardOptions(card.cardId)"/>
			<h4 class="card-preview">{{card.cardText}}</h2>
			</div>				
	    </div>
 	</ion-scroll>
  	<br/>
    
  	<div class="button-bar">  		
  		<a class="button icon-left ion-chevron-left button-calm" ng-click="gotoStep(4)">Back</a>
  		<a class="button icon-right ion-checkmark button-balanced" ng-click="saveDeck()">Save Deck</a>  		
	</div>  		  	
  </ion-content>
  
  <ion-content ng-show="showPreview" class="padding plain">
	  <img class="padding card-preview" ng-src="{{currentCard.cardImage}}" />
	    <h2 class="card-preview">{{currentCard.cardText}}</h2>
	    <button class="button button-block icon ion-play" ng-click="playAudio(currentCard.cardAudio)"></button>
	    	    
	    <div class="button-bar">
  		<button class="button" ng-click="togglePreview()">
  			<i class="icon ion-close-circled"></i> Close Preview  			
  		</button>
	</div>
	<p></p>    	    
  </ion-content>
  <div class="home-footer" ng-show="(contentStep==1 || contentStep==4)">
  	<img ng-src="img/grass-birds-no-butterfly-{{imageRandomNumber}}.png" class="home-bottom" />
  </div>
</ion-view>