<ion-view view-title="My Decks" class="view-decks">
  <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
  	<button class="button icon ion-search" ng-click="toggleSearch()" ng-show="decks.length > 0"></button>  	  	
  </ion-nav-buttons>
  <ion-content class="padding plain">
  	<label class="item item-input" ng-show="showSearch">
  		<i class="icon ion-search placeholder-icon"></i>
  		<input ng-model="deckFilter" type="search" placeholder="Search for..." class="deck-search">
	</label>		
    
    <div class="list list-inset simple-shadow" ng-repeat="deck in decks  | filter:deckFilter track by $index">
  		<div class="item item-divider deck-list-item-header" ng-show="showEditCardArray[$index]">
			<div class="deck-title-header"></div>
			<div class="deck-card-header-actions">
				<a class="button button-icon icon ion-edit" ng-click="editDeck(deck.deckId)"></a>
				<a class="button button-icon icon ion-trash-a" ng-click="trashDeck(deck.deckId)"></a>    			
    		</div>		    	
		</div>
		<a class="item item-thumbnail-left item-text-wrap" on-hold="toggleEditCardArray($index)" ng-click="clearEditCardArray()">
			<img ng-src="{{deck.deckThumb}}">    				
    		<p class="deck-list-deck-title">{{deck.deckTitle}}</p>
    		<p class="deck-list-deck-desc">{{deck.deckDescription}}</p>
    	</a>
    	<div class="item item-divider deck-list-item-footer">    		
    		<div class="deck-card-footer">
    			{{deck.deckCards.length}} cards
    		</div>
    		<div class="deck-card-footer-actions">
    			<img ng-click="showPlayerModal(deck.deckId)" ng-src="img/play.png" />    			
    		</div>
  		</div>
	</div>
	<div class="add-card-count-container padding-10" ng-show="decks.length == 0">
  	  		<h1>No Decks</h1>
  	  		You do not have any decks on this device right now
  	  		<br/><br/>  	  		  	  		
  	  	</div>
  	  	<div class="how-to-add-buttons" ng-show="decks.length == 0">    
		    <button class="button mat-shadow button-balanced button-block" ng-click="navigateTo('tab.addDeck')">
		  				<i class="icon ion-plus-circled"></i> Add Decks  			
		  	</button>
		  	<button class="button mat-shadow button-balanced button-block" ng-click="navigateTo('tab.settings')">
		  				<i class="icon ion-loop"></i> Restore from Cloud  			
		  	</button>		  	    
	    </div>
	<br/><br/><br/>
  </ion-content>  
</ion-view>
