<ion-view view-title="My Decks">
  <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
  	<button class="button icon ion-arrow-move" ng-click="toggleReorder()"></button>
  	<button class="button icon ion-trash-a" ng-click="toggleEdit()"></button>  	
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe" >
  		<ion-item ng-repeat="deck in decks track by $index" class="item">
		    <div class="list card deck-card">
		    	<div class="item item-divider"><h2>{{deck.deckTitle}} ({{deck.deckCards.length}})</h2></div>
		    	<a class="item item-thumbnail-left item-text-wrap" ng-click="showPlayerModal(deck.deckId)">
		    		<img ng-src="{{deck.deckThumb}}">    				
    				<p>{{deck.deckDescription}}</p>
    			</a>
    			<div class="item">
					<button class="button button-block icon ion-play " ng-click="showPlayerModal(deck.deckId)"></button>															
				</div>
    			<ion-option-button class="button-positive" ng-click="share(deck)">Share</ion-option-button>
    			<ion-option-button class="button-info" ng-click="edit(deck)">Edit</ion-option-button>
    			<ion-delete-button class="ion-minus-circled" ng-click="trashDeck(deck)"></ion-delete-button>
    			<ion-reorder-button class="ion-navicon" on-reorder="reorderItem(deck, $fromIndex, $toIndex)"></ion-reorder-button>
    		</div>
	  	</ion-item>
	</ion-list>
  </ion-content>
</ion-view>
