<ion-view view-title="My Decks" class="view-decks">
  <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
  	<button class="button icon ion-search" ng-click="toggleSearch()"></button>  	  	
  </ion-nav-buttons>
  <ion-content class="padding plain">
  	<label class="item item-input" ng-show="showSearch">
  		<i class="icon ion-search placeholder-icon"></i>
  		<input ng-model="deckFilter" type="search" placeholder="Search for..." class="deck-search">
	</label>		
    
    <div class="list list-inset simple-shadow" ng-repeat="deck in decks  | filter:deckFilter track by $index">
  		<div class="item item-divider deck-list-item-header" ng-show="showEditCardArray[$index]">
			<div class="deck-title-header"></div>
			<div class="deck-card-header-actions">
    			<img class="deck-list-action-button" src="img/edit.png" ng-show="!$parent.childModeEnabled" ng-click="editDeck(deck.deckId)" />
    			<img class="deck-list-action-button" src="img/delete.png" ng-show="!$parent.childModeEnabled" ng-click="trashDeck(deck.deckId)" />
    		</div>		    	
		</div>
		<a class="item item-thumbnail-left item-text-wrap" on-hold="toggleEditCardArray($index)">
			<img ng-src="{{deck.deckThumb}}">    				
    		<p class="deck-list-deck-title">{{deck.deckTitle}}</p>
    		<p class="deck-list-deck-desc">{{deck.deckDescription}}</p>
    	</a>
    	<div class="item item-divider deck-list-item-footer">    		
    		<div class="deck-card-footer">
    			{{deck.deckCards.length}} cards
    		</div>
    		<div class="deck-card-footer-actions">
    			<button class="button icon button-accent ion-play" ng-click="showPlayerModal(deck.deckId)"></button>    			
    		</div>
  		</div>
	</div>
	<br/><br/><br/>
  </ion-content>  
</ion-view>
