<ion-view view-title="Home" class="view-decks">
  <ion-nav-buttons side="left">
  	<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content class="padding striped">  	
	<img src="img/sun-clouds.png" class="home-top" />
	<div class="home-buttons">
		<button class="button button-block button-stable" ng-click="homeNavigate('tab.decks')">My Decks</button>
		<button class="button button-block button-stable" ng-click="homeNavigate('tab.addDeck')" ng-show="!$parent.childModeEnabled">Add Deck</button>
		<button class="button button-block button-stable" ng-click="homeNavigate('tab.settings')" ng-show="!$parent.childModeEnabled">Settings</button>				
	</div>	   
  </ion-content>
  <div class="home-footer">
  	<img src="img/grass-birds.png" class="home-bottom" />
	</div> 
</ion-view>
