<ion-view title="{{viewTitle}}">
  <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">  	
  	<button class="button icon ion-close" ng-click="cancelAddDeck()" ng-show="(contentStep>-1 && contentStep!=3)"></button>  	  	  	
  </ion-nav-buttons>
  
  <div class="bar bar-subheader" ng-show="(contentStep==6)">
  	<div class="button-bar">
		<button class="button" ng-click="showDecks(0)">All</button>
		<button class="button" ng-click="showDecks(1)">Free</button>
		<button class="button" ng-click="showDecks(2)">Premium</button>		
	</div>			
  </div>
  
  <ion-content overflow-scroll="true" ng-show="(contentStep==-1)" class="padding plain">
  	<div class="list list-inset">  		
		<div class="item item-divider add-list-item-header">
			<div class="deck-title-header"><h2>Create your own Deck</h2></div>		    	
		</div>
		<a class="item item-text-wrap" on-hold="showPlayerModal(deck.deckId)">			    				
	   		<p>Using your camera or the photos in your gallery and your phone's voice recorder you can create your very own personalised deck</p>
	   	</a>
	   	<div class="item item-divider deck-list-item-footer">
		   	<div class="deck-add-footer-actions">
		   		<img ng-src="img/next.png" ng-click="gotoStep(1)" />		   		    			
		   	</div>
		</div>    	      	
	</div>
	<div class="list list-inset">
		<div class="item item-divider add-list-item-header">
			<div class="deck-title-header"><h2>Browse our Deck Gallery</h2></div>		    	
		</div>
		<a class="item item-text-wrap" on-hold="showPlayerModal(deck.deckId)">
			<p>Don't want to create your own from scratch? Don't worry, you can browse and download from our pre-built gallery of decks</p>
    	</a>
    	<div class="item item-divider deck-list-item-footer">
	    	<div class="deck-add-footer-actions">
	    		<img ng-src="img/next.png" ng-click="gotoStep(6)" />
	    	</div>
	    </div>
    </div>
  </ion-content>
  
  <ion-content overflow-scroll="true" ng-show="(contentStep==6)" class="padding plain has-subheader">
  	<ion-list>
  	  <ion-item ng-repeat="deck in deckGallery track by $index" class="item item-thumbnail-left item-text-wrap">
		  <img ng-src="{{deck.attributes.deckThumb}}">
		  <h2>{{deck.attributes.deckTitle}}</h2>
		  <p>{{deck.attributes.deckDescription}}</p>		  
	  </ion-item>
	</ion-list>
  </ion-content>
  
  
  
  
  
  <ion-content overflow-scroll="true" ng-show="(contentStep==1)" class="padding plain add-deck">
  	<div class="list add-deck">
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Deck Title</span>
	    <input type="text" ng-model="currentDeck.deckTitle">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Description</span>
	    <textarea rows="10" ng-model="currentDeck.deckDescription"></textarea>
	  </label>	  
	</div>
	<div class="home-buttons-secondary pull-right">
		<img class="add-deck-flow-button" ng-src="img/next.png" ng-click="gotoStep(4)" />
	</div>  	
  </ion-content>
  
  <ion-content overflow-scroll="true" ng-show="(contentStep==2)" class="plain add-deck">    
    <div class="card-add-controls button-bar" ng-show="0==1">
    	<button class="button icon ion-camera add-card-control" ng-click="captureImage()"></button>
    	<button class="button icon ion-compose add-card-control" ng-click="captureText()"></button>    
    	<button class="button icon ion-grid add-card-control" ng-click="togglePreview()"></button>
    	<button class="button icon ion-refresh add-card-control" ng-click="resetToBlankCard()"></button>    	    	
    </div>
    
    <div class="card-preview-small">
    	<div class="build-card-capture-image">
			<img id="cardImage" class="padding card-preview-add" ng-src="{{currentCard.cardImage}}" ng-click="captureImage()" ng-show="!processingCard" />
			<img id="cardImage" class="padding card-preview-add" ng-src="img/image-processing.gif" ng-show="processingCard" />
		</div>
		<div class="build-card-capture-text">
			<h4 ng-show="!enteringCardText" class="card-preview" ng-click="captureText()">{{currentCard.cardText}}</h4>   
		</div>
		<div class="button-bar">
			<button class="button icon ion-mic-a add-card-control" ng-click="captureAudio()"></button>
			<button class="button icon ion-play" ng-click="playAudio(currentCard.cardAudio)" ng-disabled="currentCard.cardAudio.length == 0 "></button>
		</div>
    </div>
    
	<ion-toggle class="gallery-toggle" ng-model="saveToGallery" ng-change="toggleSaveToGallery()" toggle-class="toggle-calm">Save Card in Gallery?</ion-toggle>
	
    
    <div class="button-bar">
		<button class="button mat-shadow button-light" ng-click="cancelBuildCard()">
	  		<i class="icon ion-close"></i> Cancel 			
	  	</button>
	  	<button class="button mat-shadow button-balanced" ng-disabled="(currentCard.cardText === '[click to add text]' && currentCard.cardImage === 'img/add-image.png')" ng-click="saveCard()">
	  		Save Card <i class="icon ion-checkmark"></i> 			
	  	</button>	  	
  	</div>
       
  </ion-content>
  
  <ion-content overflow-scroll="true" ng-show="(contentStep==4)" class="plain add-deck">    
    
    <div class="add-card-count-container">
		<div class="add-card-count-digit" ng-show="currentDeck.deckCards.length>=0">{{currentDeck.deckCards.length}}</div>
		<div class="add-card-count" ng-show="currentDeck.deckCards.length!==1">CARDS</div>
		<div class="add-card-count" ng-show="currentDeck.deckCards.length===1">CARD</div>
		<div class="add-card-count-message" ng-show="currentDeck.deckCards.length===1">Ok..1 card...good start!</div>
		<div class="add-card-count-message" ng-show="(currentDeck.deckCards.length>1 && currentDeck.deckCards.length<5)">Keep on building...</div>	
		<div class="add-card-count-message" ng-show="(currentDeck.deckCards.length>=5 && currentDeck.deckCards.length<10)">5+...you're getting this!</div>
		<div class="add-card-count-message" ng-show="(currentDeck.deckCards.length>=10)">Card...Building...Genius! :-)</div>
	</div>
    
    <div class="how-to-add-buttons">    
	    <button class="button mat-shadow button-balanced button-block" ng-click="gotoStep(2)">
	  				<i class="icon ion-star"></i> Build a Card  			
	  	</button>
	  	<button class="button mat-shadow button-balanced button-block" ng-click="gotoStep(5)">
	  				<i class="icon ion-grid"></i> Choose from Gallery  			
	  	</button>    
    </div>
    
    <div style="margin-top: -20px;">
		<table style="width: 93%; margin-left: 3%; border: 0;">
			<tr>
				<td><img class="add-deck-flow-button" ng-src="img/prev.png" ng-click="gotoStep(1)" /></td>
				<td class="pull-right"><img class="add-deck-flow-button" ng-src="img/next.png" ng-click="gotoStep(3)" /></td>
			</tr>
		</table>
	</div>   
  </ion-content>
  
  <ion-content overflow-scroll="true" ng-show="(contentStep==5)" class="plain add-deck">    
    <label class="item item-input">
  		<i class="icon ion-search placeholder-icon"></i>
  		<input ng-model="galleryCardFilter" type="search" placeholder="Search for..." class="deck-search">
	</label>	
    <div class="list">
        <div ng-repeat="card in savedCards | filter:galleryCardFilter track by $index" class="item item-thumbnail-left">
          <img ng-src="{{ card.cardImage }}">
          <div class="card-gallery-select"><input class="card-gallery-select" ng-model="selectedCards" type="checkbox" ng-change="cardSelectionToggle(card.cardId)" /></div>
          <h2 class="card-gallery-select">{{ card.cardText }}</h2>                    
        </div>
    </div>
    <div class="button-bar">
	  	<button class="button mat-shadow button-stable" ng-click="cancelBuildCard()">
	  		<i class="icon ion-close"></i> Cancel 			
	  	</button>
		<button class="button mat-shadow button-balanced" ng-click="addCardsFromGallery()">
	  		<i class="icon ion-checkmark"></i> Add  			
	  	</button>	  	
  	</div>       
  </ion-content>
  
  
  
  <ion-content overflow-scroll="true" ng-show="(contentStep==3)" class="plain add-deck" >  	
  	<div class="add-deck-commentary">Here is how your deck will look in the list...</div>
 	 	<div class="deck-review" >
  			<a class="item item-thumbnail-left item-text-wrap" on-hold="toggleEditCardArray($index)" ng-click="clearEditCardArray()">
			<img ng-src="{{currentDeck.deckThumb}}">    				
    		<p class="deck-list-deck-title">{{currentDeck.deckTitle}}</p>
    		<p class="deck-list-deck-desc">{{currentDeck.deckDescription}}</p>
    	</a>
    	<div class="item item-divider deck-list-item-footer">    		
    		<div class="deck-card-footer">
    			{{currentDeck.deckCards.length}} cards
    		</div>
    		<div class="deck-card-footer-actions">
    			<img ng-click="showPlayerModal(deck.deckId)" ng-src="img/play.png" />    			
    		</div>
  		</div>
		</div>
  	<div class="add-deck-commentary">...and here are your cards...</div>
  	<div class="add-deck-commentary-sub">(swipe a card left to edit or remove, long press to rearrange!)</div>  		
	<ion-list show-delete="shouldShowDelete" show-reorder="areReordering" can-swipe="true">
  	  <ion-item ng-repeat="card in currentDeck.deckCards track by $index" class="item item-thumbnail-left item-text-wrap card-preview" on-hold="toggleReviewSaveReorder()">
		  <img class="card-image-min" ng-src="{{card.cardImage}}">
		  <h2>{{card.cardText}}</h2>		  
		  <ion-option-button class="button icon ion-edit" ng-click="editCard(card.cardId)"></ion-option-button>
		  <ion-option-button class="button icon ion-trash-a" ng-click="deleteCard(card.cardId)"></ion-option-button>		  
		  <ion-reorder-button class="ion-navicon" on-reorder="reorderCards(item, $fromIndex, $toIndex)"></ion-reorder-button>
	  </ion-item>
	</ion-list>
	<div class="add-deck-commentary">...when you are happy click below to save your new deck!</div>
	<div class="add-deck-commentary-sub">(or click Back to add more cards!)</div>
	<div class="button-bar">  		
  		<a class="button icon-left mat-shadow ion-chevron-left button-stable" ng-click="gotoStep(4)">Back</a>
  		<a class="button icon-right mat-shadow ion-checkmark button-balanced" ng-click="saveDeck()">Save Deck</a>  		
	</div>
  </ion-content>
  
  <ion-content ng-show="showPreview" class="padding plain">
	  <img class="padding card-preview" ng-src="{{currentCard.cardImage}}" />
	    <h2 class="card-preview">{{currentCard.cardText}}</h2>
	    <button class="button button-block icon ion-play" ng-click="playAudio(currentCard.cardAudio)"></button>
	    	    
	    <div class="button-bar">
  		<button class="button" ng-click="togglePreview()">
  			<i class="icon ion-close-circled"></i> Close Preview  			
  		</button>
	</div>
	<p></p>    	    
  </ion-content>  
</ion-view>