html, body
{
	font-family: 'Short Stack', cursive;
	color: #212121;
}

.bar.bar-stable
{
	/*background-color: #2BB5C4 !important;*/
	background-color: #0288D1;	
}

.bar.bar-stable .title
{
	color: #FFF;
}

.bar-stable .button.button-clear 
{
  color: #FFF;
}  

a.item-content
{
	color: #000;
}

.item-complex .item-content
{
	/*background-color: #FFF7C4;*/
}


div.home-buttons-primary
{
	border: solid;
  	text-align: center;
 	margin-bottom: 20vh;
 	margin-top: 10vh;
}

div.home-button-primary
{
	text-align: center;
	/* margin-bottom: 25vh; */
	border-radius: 20%;
	background-color: #ffeb3b;
	width: 35vw;
	height: 35vw;
	padding-top: 23vw;
	color: #212121;
	font-size: 1.3em;
	border: solid 1px #b6b6b6;
	float: left;	
}

div.home-button-icon
{
	width: 20%;
	float: left;
}

div.home-button-text
{
  width: 65vw;
  float: left;
  padding-top: 2.4vh;
  font-size: 1.4em;
  padding-left: 7vw;
  text-align: left;
}

div.home-button-container
{
	width: 33%;
	text-align: center;
	float: left;
	margin-bottom: 3vh;
}

img.home-button
{
	width: 90%;
}

div.home-buttons-secondary
{
	position: absolute;
	bottom: 0;
	width: 100%;
}

ion-content.home-content div.scroll
{
	min-height: 90vh;
}

div.home-button-secondary
{
	width: 50%;
	float: left;
}

.pull-right
{
	text-align: right;
}

.pull-left
{
	text-align: left;
}


/* Empty. Add your own CSS if you like */
div.centered
{
	margin-left: auto;
	margin-right: auto;
	width: 90vw;
	text-align: center;
}

div.deck-card
{
	width: 110%;
	border-radius: 5px;
}

div.deck-card-preview
{
	width: 97%;
}

div.card-add-controls
{
	width: 100vw;
}

button.add-card-control
{
	float: left;
}

div.card-preview-small
{
	text-align: center;		
}

div.card-add-save
{
		
}

img.deck-list-action-button-play
{
	width: 10vw;	
}

img.deck-list-action-button
{
	width: 8vw;	
}


div.card-add-save-items
{
}

div.card-add-reset
{
	margin-bottom: 30px;
}

div.card-preview-gallery
{
	float: left;
	margin-right: 3%;
	margin-bottom: 20px;
	max-width: 47%;			
}

img.deck-play-sound
{
	width: 25%;
	margin-top: 4px;
}

div.deck-play-sound-ctrl
{
	text-align: center;
  	background: #fff;
  	border-radius: 10px;
  	border: solid 1px #CCC;
  	width: 220px;
  	margin-left: auto;
  	margin-right: auto;
}

img.card-preview-add
{
	width: 160px;		
}

img.card-preview
{
	width: 130px;	
}

h2.card-preview, h3.card-preview, h4.card-preview
{
	width: 100%;
	text-align: center;
	margin-top: 0px;	
}

div.build-card-capture-image
{
	background-color: #FFF;
	border: solid 1px #333;
	box-shadow: 0px 5px 5px #444;
	width: 160px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1.2vh;
	margin-bottom: 2vh;
	margin-top: 1vh;
}

div.build-card-capture-text
{
	background-color: #FFF;
	width: 80vw;
	height: 7vh;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1.2vh;
	margin-bottom: 2vh;
	border-radius: 5px;
	border: solid 1px #333;
	box-shadow: 0px 5px 5px #444;
}

div.add-card-count-container
{
	background-color: lightblue;
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	opacity: 0.9;
	padding: 1%;
	margin-top: 1vh;
	color: #444;
}


div.add-card-count-digit
{
	font-size: 10em;
	clear: both;
	width: 100%;
	text-align: center;
	margin-top: 12vh;
	margin-bottom: 11.5vh;
	opacity: 1.0;
}

div.add-card-count
{
	clear: both;
	width: 100%;
	text-align: center;	
	padding-bottom: 3px;
	margin-bottom: 9vh;
	margin-top: 3vh;	
	font-size: 3em;
}

div.add-card-count-message
{
	clear: both;
	width: 100%;
	text-align: center;	
	padding-bottom: 3px;
}

div.add-deck-commentary
{
	clear: both;
	width: 100%;
	text-align: center;	
	padding-bottom: 3px;
	margin-bottom: 2vh;
	margin-top: 3vh;
}

div.add-deck-commentary-sub
{
	clear: both;
	width: 100%;
	text-align: center;	
	padding-bottom: 3px;
	font-size: 0.75em;	
}

div.how-to-add-buttons
{
	margin-bottom: 15vh;
}

div.card-player-image
{
	width: 100vw;
	height: 70vh;	
	overflow: hidden;
	margin-top: 8vh;
	text-align: center;	
}

img.card-player
{
	width: 640px;	
	max-width: 100vw;
	-webkit-filter: drop-shadow(2px 2px 2px #ccc);
  	filter: drop-shadow(2px 2px 2px #ccc);
}

.item-thumbnail-left > img:first-child
{
	min-height: 120px;
}

.item-thumbnail-left
{
	min-height: 145px;	
}

p.deck-list-deck-title
{
	font-weight: bold;	
}

p.deck-list-deck-desc
{
	font-size: 0.75em;
}


/* Overridden ionic framework classes */
.deck-search
{
	font-family: 'Short Stack', cursive;
}

.card-preview-small h4
{
	font-family: 'Short Stack', cursive;
}

.card-preview-small input
{
	padding-left: 10px;
	font-family: 'Short Stack', cursive;
}

.capture-text
{
	width: 80%;
	float: left;
	margin-right: 10px;
	margin-left: 3%;
}

div.deck-preview-card
{
	width: 93vw;
}

button
{
	font-family: 'Short Stack', cursive;
	
}

.title
{
	font-family: 'Short Stack', cursive;
}

h2.card-preview
{
	font-family: 'Short Stack', cursive;
}

ion-item h2
{
	font-family: 'Short Stack', cursive;
}

a h2
{
	font-family: 'Short Stack', cursive;
}

ion-item.deck-listing
{
	border: none;
  	margin-bottom: 8px;
  	background-color: #F3E188;  	
}

div.home-footer
{
	position: fixed;
    bottom: -10px;
}

div.deck-list-header
{
	width: 100%;
	text-align: right;
}

div.deck-title-header
{
	text-align: center;
}

div.deck-title-header h2
{
	font-family: 'Short Stack', cursive;
	font-weight: bold;	
}

div.deck-title-img
{
	float: left;
	
}

ion-scroll.review-save-scroll
{
	width: 97vw;
	height: 75vh;	
}

ion-scroll.card-gallery-scroll
{
	width: 103vw;
	height: 75vh;	
}

h2.card-gallery-select
{
	font-family: 'Short Stack', cursive;
}

div.card-gallery-select 
{
	text-align: right;	
}

input.card-gallery-select
{
	transform: scale(2);
  	-webkit-transform: scale(2);
}

.card-review-action 
{
  position: relative;
  top: 59px;
  transform: scale(0.6);
  background-color: #FFF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: right;
  height: 0px;
}


ion-item.menu-list-item
{
	background-color: #FBC1C5;
}

div.add-list-item-header
{
	background-color: #FFF;
}

div.deck-list-item-header
{
	background-color: lightblue;		
}

div.deck-list-item-footer
{
	background-color: #FFF;
}

div.deck-card-footer-actions
{
	width: 50%;
	float: left;
	text-align: right;
}

.card-image-min
{
	min-height: 120px !important;
}

div.deck-card-footer-actions img
{
	width: 15vw;
  	max-width: 50px;
}

div.card-player-sound
{
	width: 100%;
	text-align: center;
}

div.card-player-sound img
{
	max-width: 80px;
}

div.deck-card-header-actions
{
	width: 100%;
	float: left;
	text-align: right;
}

div.deck-add-footer-actions
{
	width: 100%;
	float: left;
	text-align: right;
}

div.deck-add-footer-actions img
{
	width: 15vw;
	max-width: 50px;
}

img.add-deck-flow-button
{
	width: 20vw;
	max-width: 75px;
}

div.deck-card-footer
{
	  width: 50%;
	  float: left;
	  padding-top: 0.8em;
	  font-size: 1.2em;
	  /* font-weight: bold; */
	  color: #727272;
}

div.home-buttons
{
	max-width: 480px;
}

div.home-buttons
{
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
}

div.home-footer
{
	margin-left: auto;
	margin-right: auto;	
	width: 100vw;
	text-align: center;
}

div.home-button
{
	text-align: center;
}

img.home-top, img.home-bottom
{
	width: 105vw;
	margin-left: -4vw;
	max-width: 480px;
}

ion-content.plain, ion-modal-view.plain
{
	/*background-color: #B3E0F6;*/	
	/*background-image: url(../img/notice-board.jpg);*/ 
	/*background-image: url(../img/bg-lighter-toys-bw-darker.png);*/
	background-color: #B3E5FC;	
}

ion-content.add-deck
{
	
}

.padding-10
{
	padding: 10% !important;
}

ion-content.paper, ion-modal-view.paper
{
	background-color: #B3E5FC;	 	
}

h1.player-title, ion-header-bar.player-title
{
	background-color: #0288D1;
	color: #FFF;
}

.input-label
{
	color: #FFF;
}

ion-content.striped
{
	/*
	background: #fefcea;
	background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36));
	background: -webkit-linear-gradient(top, #fefcea 0%,#f1da36 100%);
	background: -o-linear-gradient(top, #fefcea 0%,#f1da36 100%);	
	background: -ms-linear-gradient(top, #fefcea 0%,#f1da36 100%);
	background: linear-gradient(to bottom, #fefcea 0%,#f1da36 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 );
	*/
	/*background-image: url(../img/blue-stripe.png);*/
	/*background-image: url(../img/notice-board.jpg);*/
	/*background-image: url(../img/player-background-bw-dark.png);*/
	/*background-image: url(../img/bg-lighter-toys-bw-darker.png);*/
	background-color: #B3E5FC;	
}

.deck-list-item div.item-content
{
	background-color:rgba(0,0,0,0);
}


.deck-list .item-divider, .deck-card-preview .item-divider
{
	background-color: #64E86F;
}

.deck-card .item-divider h2
{
	color: #FFF;
	font-weight: bold;
	font-family: 'Short Stack', cursive;
}

.add-deck .item
{
	border: none;
}

.card-preview .item-content
{
	
}

.add-deck input, .add-deck textarea
{
	padding-left: 10px;
	font-family: 'Short Stack', cursive;
}

.deck-list ion-item.deck-list-item
{
	border-style: none;
	background-color:rgba(0,0,0,0);
}

.deck-list .item-complex .item-content
{
	padding: 0px 45px 0px 15px;
}

div.add-deck
{
	margin-left: -2.5vh;
}

div.gallery-toggle
{
	background-color: lightblue;
	color: #444;	
	font-size: 0.95em;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.toggle .track
{
	width: 40px;
	height: 20px;
	margin-top: 7px;
}

.toggle .handle
{
	width: 16px;
	height: 16px;
	margin-top: 7px;	
}

.modal
{
  top: 0 ;
  bottom: 0 ; 
  left: 0 ;
  right: 0 ;
  width: 100% ;
}

@media (max-height: 480px) and (orientation: landscape) 
{
	img.home-top 
	{
  		display:none;
	}
	
	img.home-bottom 
	{
  		display: none;
	}	
}

/*Card player media queries to maintain aspect ratios*/
@media (min-device-height: 480px) and (max-device-height: 959px) 
{
	img.card-player 
	{
  		width: 320px;
	}	
	
}

@media (min-device-height: 320px) and (max-device-height: 479px) 
{
	img.card-player 
	{
  		width: 160px;
	}	
	
}


/* Material Buttons */
.material-btn {
  position: relative;
  display: block;
  margin: 30px auto;
  padding: 3vw;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: snow;
  color: #444;
  transition: background-color .3s;
  border-radius: 10px;
}

.material-btn > * {
  position: relative;
}

.material-btn span {
  display: block;
  padding: 12px 24px;
}

.material-btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.material-btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.material-btn.orange {
  background-color: #e67e22;
}

.material-btn.red {
  background-color: #e74c3c;
}

.mat-shadow
{
	box-shadow: 0px 5px 5px #444;
}

button.button-block
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 12px;	
}

button.flat
{
	border-radius: 0px !important;
}

.scroll
{
	min-height: 80vh;
}

.nail-to-floor
{
	position: fixed;
	bottom: 0;
}

.button.button-accent 
{
  border-color: #FFEB3B;
  background-color: #FFEB3B;
  color: #FFF;
  border-radius: 50%;
  padding-left: 10%;
}

div.simple-shadow
{
	-webkit-box-shadow: 0px 4px 5px 0px rgba(182,182,182,0.6);
	-moz-box-shadow: 0px 4px 5px 0px rgba(182,182,182,0.6);
	box-shadow: 0px 4px 5px 0px rgba(182,182,182,0.6);	
}

div.pin-number-pad
{
	margin-top: 5vh;
}

div.pin-number
{
	float: left; 
	width: 33%; 
	text-align: center;	
	color: #FFF;	
}